telethon
pymongo
redis
sqlalchemy
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gtts
Pillow
pytesseract
opencv-python
rembg
yt-dlp
youtube-search-python
spotipy
mutagen
ffmpeg-python
pytube
pydub
beautifulsoup4
requests
httpx
aiohttp
lxml
emoji
qrcode
cowsay
psutil
pyfiglet
cryptography
python-dotenv
deep-translator
html2text
wikipedia-api
PyMuPDF
praw
art
pyzbar  
wikipedia 
youtube_dl
setuptools 
userbot
flask
google-api-python-client
instagrapi
lyrics-extractor
jiosaavn
mutagen
